:root {
  --color-primario: #b23417;

  --titulo: #b23417;
  --botones: #b23417;
  --header: #b23417;
  --footer: #b23417;

  --fondo-general: #fce9d8;
  --secciones: #f4ae7d;
  --lineas-y-bordes: #3f110b;

  --iconos: #fef5ee;

  --font-poppins-regular-texto: popins, Arial, Helvetica, sans-serif;
}
